%tr
  %td{:width => "100%", :colspan => "3"}
    .titulosseccion{:align => "center"}
      %b 
        = raw(cuestionario.cst_txt)
= render :partial => 'seccion' , :collection => Seccion.secciones_por_cst_y_gpo_preg(cuestionario.cst_cve,cuestionario.cst_gpo_preg), :locals => {:select => select}
